@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

:root {
  --primary-color: #f3ad21; /* Основной цвет */
  --highlight-color: #FFC107; /* Цвет акцента */
  --background-color-light: #f4f4f4; /* Светлый фон */
  --background-color-dark: #212121; /* Темный фон */
  --text-color-light: #333; /* Светлый текст */
  --text-color-dark: #fff; /* Темный текст */
  --border-color: #333; /* Цвет границ */
  --padding: 1.875rem; /* Основной отступ */
  --border-radius: 10px; /* Скругленные углы */
}

*,
*::before,
*::after {
  box-sizing: border-box; // Устанавливает box-sizing для всех элементов
}
h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
}
#welcome-message {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  color: var(--text-color-light);
  transition: color 0.3s ease;
}

body.dark #welcome-message {
  color: var(--text-color-dark);
}
body {
  font-family: "Rubik Mono One", monospace;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden; // Скрыть горизонтальную прокрутку
  width: 100%; // Установите ширину на 100%
}

.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.dark section {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-class {
  width: 100%;
  padding: var(--padding) 20px;
}

.navigation-class {
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-item {
  margin: 0 10px;
}
.nav-icon{
  filter:invert(0);
}

.dark .nav-icon {
  filter: invert(1);
}

.dark .nav-link {
  color: var(--text-color-dark);

  &:hover {
    color: var(--highlight-color);
  }
}

.theme-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.25rem 0px;

  input[type="checkbox"] {
    display: none; // Скрыть checkbox
  }

  label {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease;

    input[type="checkbox"]:checked + & {
      background-color: var(--primary-color); // Цвет для тёмной темы
    }
  }
}
.main-header{
  margin: .9375rem 0px;
}
.main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 1.25rem;
  width: 100%; // Убедитесь, что основной контент занимает 100% ширины
}

section {
  padding: var(--padding);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #fff;
  line-height: 1.5;
  width: 100%; // Убедитесь, что секции занимают 100% ширины
}

.section-title,
.section-subtitle {
  margin-bottom: 20px;
}

.action-button,
button {
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 30px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  gap: 10px;

  img {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
  }
}

.feedback-section {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  padding: var(--padding);
}

/* FAQ Styles */
.faq-section {
  padding: 30px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.faq-title {
  font-size: 1.2rem;
  color: var(--text-color-light);
  margin-bottom: 1rem;

  .dark & {
    color: var(--text-color-dark);
  }
}

.faq-list {
  margin: 0;
}

.faq-item {
  cursor: pointer; /* Указываем, что элемент кликабельный */
}

.faq-question {
  padding: 10px;
  border: 1px solid var(--highlight-color);
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
}

.faq-answer {
  display: none; /* Скрываем ответы по умолчанию */
  padding: 10px 20px;
  margin-top: 5px;
  border-radius: var(--border-radius);
}

/* Модальное окно для отзывов */
.modal-content {
  border-radius: var(--border-radius);
  background-color: var(--background-color-light);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: var(--padding);
  width: 80%;
  .dark & {
    color: var(--text-color-dark);
    background-color: var(--background-color-dark);
    .feedback-textarea{
      color: var(--text-color-dark);
      background-color: var(--background-color-dark);
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.feedback-textarea{
  resize: none;
  color: var(--text-color-light);
}


.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Стили футера */
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--padding);
  width: 100%;
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  padding: 50px 0;
  text-align: center;
  border-top: 1px solid var(--border-color);
}

/* Адаптивные стили */
@media screen and (max-width: 600px) {
  h1{
    font-size: 1.5em;
  }
  #welcome-message{
    font-size: 1em;
  }
  body {
    font-size: calc(0.8em + (1vw - 0.8em) * (100vw - 600px) / (1200 - 600));
  }
  .main-content {
    padding: calc(15px + (25 - 15) * (100vw - 600px) / (1200 - 600));
  }
  section {
    margin: 0;
    font-size: 0.75em;

  }

  .hero h2,.faq-title {
    font-size: 1.25em;
  }
  .hero p {
    font-size: 0.875em;
  }

  footer {
    font-size: 0.75em;
  }

  button, .action-button  {
    padding: calc(5px + 2 * (100vw - 320px) / 1920) calc(10px + 2 * (100vw - 320px) / 1920);
    font-size: 0.85em;
  }
}

.tooltip {
  position: relative;
  display: inline-block;

}
.tooltip-icon {
  width: 4.25rem;
  height: 4.25rem;
  background-image: url(https://img.icons8.com/?size=100&id=67560&format=png&color=000000);
  background-repeat: no-repeat;
  background-size: contain;
}
.tooltip-icon:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.tooltip-text {
  position: absolute;
  display: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--text-color-light);
  border-radius: 5px;
  padding: 20px;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.dark .tooltip-text{
  color: var(--text-color-dark);
  background-color: var(--background-color-dark);
}
.tooltip-active .tooltip-text {
  display: block;
}
.saving-tips{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  color: var(--text-color);
  text-align: center;
}